* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url("imagenes/madera.webp") no-repeat center center/ cover;
}

.contenedor-principal {
  width: 80vw;
  max-width: 600px;
  min-height: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: beige;
}

.contenedor-botones {
  padding: 20px;
}

#cronometro {
  width: 100%;
  font-size: 80px;
  font-weight: bold;
  user-select: none;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.boton {
  width: 80px;
  height: 80px;
  font-size: 50px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}

#boton-inicio-pausa.iniciar,
#boton-inicio-pausa.iniciar i {
  background-color: rgb(8, 216, 77);
}

#boton-inicio-pausa.pausar,
#boton-inicio-pausa.pausar i {
  background-color: rgb(223, 226, 43);
}

#boton-reiniciar {
  background-color: red;
}
